body {
  text-align: center;
  font-family: "Nunito", sans-serif;
  background-color: #3c91e6;
}

main {
  border: solid #342e37;
  border-radius: 10px;
  padding: 50px;
  margin: 50px 200px;
  background-color: #fafffd;
}

header {
  background-image: url("https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1");
  background-size: cover;
  background-position: center;
  border: solid #342e37;
  border-radius: 10px;
  font-weight: bold;
  font-size: 3em;
  color: #9fd356;
  text-shadow: 1px 1px 3px #342e37;
}

footer {
  background-color: #fafffd;
  border: solid #342e37;
  border-radius: 10px;
}

h2 {
  font-weight: bold;
  font-size: 2em;
  color: #9fd356;
  text-shadow: 1px 1px 3px #342e37;
}

.footer-img {
  width: 50px;
  height: 50px;
  border: none;
  padding: 20px;
}

img {
  max-width: 25%;
  height: auto;
  border: solid #342e37;
  border-radius: 10px;
  align-self: center;
}

#select-muscle {
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

#append-exercises {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

button {
  text-transform: uppercase;
  border: 1px solid #342e37;
  background-color: #9fd356;
  padding: 8px;
  border-radius: 5px;
}

@media screen and (max-width: 745px) {
  main {
    margin: 10px auto;
  }
}
